:root {
  --blue: #4087d5;
}

@font-face {
  font-family: 'roboto';
  src: url('fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
       url('fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'roboto', system-ui, sans-serif;
}

body {
  min-height: 100vh;
  /*^This should be removed later^*/
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.left-menu {
  background-color: var(--blue);
  grid-row: 1 / 3;
}

.header {
  background-color: white;
}

.dashboard {
  background-color: lightgrey;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects {
  background-color: yellow;
  /*^This should be removed later^*/
  grid-row: 1 / span 2;
}

.logo {
  margin-top: 17px;
}

.logo,
.site-links {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  align-items: center;
}

.site-links {
  row-gap: 15px;
}

h1 {
  color: white;
  display: inline;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0;
}

.logo svg,
.site-links svg {
  align-self: center;
  justify-self: center;
  fill: white;
}

.logo svg {
  height: 2.5rem;
}

.site-links svg {
  height: 1.2rem;
}

.site-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.site-links {
  margin-top: 50px;
}